.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--page-margin);
  display: flex;
  justifyContent: space-between;
  align-items: center;
  z-index: 100;
  mix-blend-mode: difference;
  color: #fff;
  pointer-events: none;
}

.site-header > * {
  pointer-events: auto;
}

.site-nav {
  display: flex;
  gap: var(--grid-gap);
  font-size: 13px;
}
